[Desktop Entry]
Type=Application
GenericName=OpenRA-Bin - Command & Conquer (Cg)
Name=OpenRA ver. {VERSION} (Cg Renderer)
Icon=openra-bin
Path=/usr/share/openra-bin
Exec=mono OpenRA.Game.exe Game.Mods=cnc Graphics.Renderer=Cg
Terminal=false
