[Desktop Entry]
Type=Application
GenericName=OpenRA-Bin - Red Alert (Gl)
Name=OpenRA ver. {VERSION} (Gl Renderer)
Icon=openra-bin
Path=/usr/share/openra-bin
Exec=mono OpenRA.Game.exe Game.Mods=ra Graphics.Renderer=Gl
Terminal=false
