[Desktop Entry]
Type=Application
Version={VERSION}
Name=OpenRA - Red Alert (Gl)
Comment=The OpenRA RTS (Gl) engine running Red Alert
Icon=/usr/share/pixmaps/openra.32.xpm
Exec=/usr/bin/openra-bin Game.Mods=ra Graphics.Renderer=Gl
Terminal=false
Categories=Game;
