[Desktop Entry]
Type=Application
GenericName=OpenRA - Red Alert (Gl)
Name=OpenRA ver. {VERSION} (Gl Renderer)
Icon=openra
Path=/usr/share/openra
Exec=mono OpenRA.Game.exe UtilityPath=OpenRA.Utility.sh Game.Mods=ra Graphics.Renderer=Gl
Terminal=false
