[Desktop Entry]
Type=Application
Version={VERSION}
Name=OpenRA - Command & Conquer (Cg)
Comment=The OpenRA RTS (Cg) engine running Command & Conquer
Icon=openra
Exec=/usr/bin/openra-bin Game.Mods=cnc Graphics.Renderer=Cg
Terminal=false
Categories=Game;
