[Desktop Entry]
Type=Application
GenericName=OpenRA - Red Alert (Cg)
Name=OpenRA ver. {VERSION} (Cg Renderer)
Icon=openra
Path=/usr/share/openra
Exec=mono OpenRA.Game.exe Game.Mods=ra Graphics.Renderer=Cg
Terminal=false
