[Desktop Entry]
Type=Application
Name=OpenRA - Red Alert (Cg)
Comment=The OpenRA RTS ver. {VERSION} - Red Alert mod (Cg Renderer)
Icon=openra
Path=/usr/share/openra
Exec="mono OpenRA.Game.exe SupportDir=~/.openra UtilityPath=OpenRA.Utility.sh Game.Mods=ra Graphics.Renderer=Cg"
Terminal=false
