[Desktop Entry]
Type=Application
GenericName=OpenRA - Command & Conquer (Gl)
Name=OpenRA ver. {VERSION} (Gl Renderer)
Icon=openra
Path=/usr/share/openra
Exec=mono OpenRA.Game.exe "SupportDir=~/.openra" UtilityPath=OpenRA.Utility.sh Game.Mods=cnc Graphics.Renderer=Gl
Terminal=false
