[Desktop Entry]
Type=Application
Version={VERSION}
Name=OpenRA - Editor
Comment=The OpenRA RTS Map Editor
Icon=openra
Exec=cd /usr/share/openra && mono /usr/share/openra/OpenRA.Editor.exe
Terminal=false
Categories=Game;
