[Desktop Entry]
Type=Application
GenericName=OpenRA - Command & Conquer (Cg)
Name=OpenRA ver. {VERSION} (Cg Renderer)
Icon=openra
Path=/usr/share/openra
Exec=mono OpenRA.Game.exe Game.Mods=cnc Graphics.Renderer=Cg
Terminal=false
